@import "../styles/tailwind.css";
@import "../styles/root-styles.css";
@import "../styles/alignment.css";
/* @import "../styles/docs-page.css";
@import "../styles/docs-sidebar.css"; */
/* @import "../styles/blog.css"; */
@import "../styles/font-sizes.css";
/* @import "../styles/avatar.css"; */
/* @import "../styles/hero.css"; */


.blog-list-page {
  main {
    @apply md:mx-0 grid grid-cols-1 gap-4;
    --ifm-col-width: calc(12 / 12 * 100%);
    flex: 0 0 var(--ifm-col-width) !important;
  }
}

.blog-post-page { 

  main {
    @apply md:mx-0 grid grid-cols-1 gap-4;
    --ifm-col-width: calc(10 / 12 * 100%);
    flex: 0 0 var(--ifm-col-width) !important;
  }

  @media (max-width: 996px) {
    .col {
      --ifm-col-width: 100%;
      flex-basis: var(--ifm-col-width);
      margin-left: 0;
    }
  }

  /* main {
    --ifm-col-width: calc(10 / 12 * 100%);
    flex: 0 0 var(--ifm-col-width) !important;
  } */
}

.github-codeblock-reference-link {
  display: none;
}